.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

.modalWrap {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    .modal {
        padding: 20px 40px;
        background-color: rgba(43, 43, 43, 1);
        border-radius: 50px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
        pointer-events: initial;

        .title {
            font-weight: 600;
            font-size: 24px;
            line-height: 29.26px;
            text-align: center;
            color: rgba(247, 151, 29, 1);
            margin-bottom: 40px;
        }
    }
}
