.screen {
    width: 960px;
    height: 540px;
    background-color: rgba(0, 0, 0, 1);
    position: relative;
}
.resource {
    width: 100px;
    height: 100px;
    background-color: var(--accent-orange);
    position: absolute;
}