.dropdownWrap {
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
        font-weight: 600;
        font-size: 18px;
        line-height: 21.94px;
        color: rgba(157, 157, 157, 1);
    }

    &.default {
        .dropdownButton {
            gap: 10px;
            padding: 10px 30px;
            font-weight: 700;
        }

        .dropdownList {
            top: 50px;
            gap: 10px;
            padding: 10px;

            .dropdownListItem {
                padding: 10px 0;
                font-weight: 700;
            }
        }
    }

    &.small {
        .dropdownButton {
            font-size: 14px;
            padding: 4px;
            gap: 4px;
            height: 25px;
        }

        .dropdownList {
            top: 30px;
            gap: 5px;
            padding: 5px;

            .dropdownListItem {
                height: 25px;
                padding: 0 5px;
                font-size: 14px;
                max-width: 380px;
            }
        }
    }

    .dropdown {
        position: relative;
        display: flex;
        justify-content: center;
        width: min-content;

        .dropdownButton {
            display: flex;
            align-items: center;
            background-color: var(--accent-orange);
            border-radius: 50px;
            max-width: 150px;

            span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            svg {
                min-width: 12px;
                min-height: 12px;
            }

            @media (hover: hover) {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .dropdownList {
            position: absolute;
            z-index: 1;

            display: flex;
            flex-direction: column;

            background-color: rgba(43, 43, 43, 1);
            border-radius: 25px;
            box-shadow: 8px 0 20px rgba(30, 30, 30, 1);

            .dropdownListItem {
                display: flex;
                align-items: center;
                justify-content: center;

                color: rgba(157, 157, 157, 0.5);
                user-select: none;
                white-space: nowrap;
                border-radius: 50px;
                transition: background-color 150ms linear;

                span {
                    text-align: center;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &.selected {
                    background-color: var(--accent-orange);
                    color: rgba(32, 32, 32, 1);

                    @media (hover: hover) {
                        &:hover {
                            background-color: var(--accent-orange);
                        }
                    }
                }

                @media (hover: hover) {
                    &:hover {
                        background-color: rgba(247, 151, 29, 0.2);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
