.options {
    display: flex;
    gap: 40px;
    max-height: 420px;
    flex: 1 1 40%;
    width: 100%;
}

.option {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;

    background-color: rgba(43, 43, 43, 1);
    border-radius: 50px;
    padding: 20px 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);

    .title {
        font-weight: 600;
        font-size: 20px;
        line-height: 24.38px;
        color: var(--accent-orange);
    }

    .sources {
        flex: 1;
    }

    .actions {
        display: flex;
        gap: 20px;
    }
}
